<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="org.zervladpy.GameServer" />
    <module name="du3-exercice6" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>